zoomcamp_de:
  target: prod
  outputs:
    prod:
      type: bigquery
      method: service-account
      project: YOUR_PROJECT_ID
      dataset: dbt_kidem
      threads: 4
      keyfile: path/to/gcp_key.json
